@page
@model SerenUP.Intranet.Pages.ProductListModel
@{
    ViewData["Title"] = "Lista Prodotti Magazzino";
}
<html>
<body>
    <h1 class="">@ViewData["Title"]</h1>

    <div class="container">

        <div class="row text-center">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Lista prodotti</h1>
            </div>
        </div>

        <div class="col-lg-12 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    @*<div class="immagine-prodotto">*@
                        <a class="col-md-1 nav-link text-dark" asp-area="" asp-page="/ProductDetail"><img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="100" class="ml-lg-5 order-1 order-lg-2"></a>

            @foreach (var watch in Model.WatchList)
            {
                <tbody>
                    <tr>
                        <th scope="row"><img src="@watch.Link" width="150" height="150" /></th>
                        <td>@watch.Model</td>
                        <td>@watch.Color</td>
                        <td>1</td>
                        <td>
                            <button type="button" class="btn btn-primary align-middle mt-5">
                                <a asp-page="/Details/WatchDetail" asp-route-Model="@watch.Model" asp-route-Color="@watch.Color">
                                    Modifica
                                </a>
                            </button>

                        </td>
                    </tr>
                </tbody>
            }
            @foreach (var accessory in Model.AccessoryList)
            {
                <tbody>
                    <tr>
                        <th scope="row"><img src="@accessory.Link" width="150" height="150" /></th>
                        <td>@accessory.Name</td>
                        <td>@accessory.Color</td>
                        <td>@accessory.Quantity</td>
                        <td>
                            <button type="button" class="btn btn-primary align-middle mt-5">
                                <a asp-page="/Details/AccessoryDetail" asp-route-Model="@accessory.Name" asp-route-Color="@accessory.Color" >
                                    Modifica
                                </a>
                            </button>
                        </td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
</body>
</html>
