@page "{model}/{color}"
@model SerenUP.Intranet.Pages.WatchDetailModel
@{
}

@*
<div>

    <div>

            <div style="display:inline">
                <a asp-page="Details/WatchDetail">
                    <img class="icon_details" src=@Model.Link>
                </a>
            </div>


            <div class="text_details" style="display:inline">
                <table style="display:inline; margin-bottom:100px; border:1px">
                    <tr>
                        <td>
                            <button class="td_cart">
                                <a asp-page="">
                                    <h5>Orologio @Model.Watch.Model</h5>
                                    <h5>Colore: @Model.Watch.Color</h5>
                                    <h5>@Model.Watch.Price €</h5>
                                </a>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>


    </div>

</div>
*@

<center>
<form  class="row g-3 w-25">

    <div>
         <a asp-page="Details/WatchDetail">
            <img class="icon_details" src=@Model.Link>
         </a>
    </div>
    
        <label class="form-label" >Model:</label>
        <input type="text" class="form-control" value="@Model.Watch.Model" />
    
        <label class="form-label">Price:</label>
        <input type="text" class="form-control" value="@Model.Watch.Price" />

        <label class="form-label">Color:</label>
        <input type="text" class="form-control" value="@Model.Watch.Color" />
     
        <button type="submit" class="btn btn-primary mb-3">Update</button>
    
</form>
</center>

